{%load static%}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Fuel Quote History</title>
    </head>
    <body>
        <center class="pre">
            <h1>Here are Your Previous Quotes</h1>
            <br>
            {% for quote in history%}
                <h2>Gallons requested : {{quote.gallons_requested}}</h2>
                <h2>Delivery address : {{quote.delivery_address}}</h2>
                <h2>Delivery date : {{quote.delivery_date}}</h2>
                <br>
                <hr>
            {% endfor %}
        </center>
    </body>
</html>