{%load static%}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Fuel Quote</title>
    </head>
    <body>
        <div class="main">
            <div>
                <center>
                    <h1>Please Enter Your Infomation Below</h1>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ myform.as_p}}
                            <button type="submit">SUBMIT</button>
                        </form>
                </center> 
            </div>
            <br>
            <div>
                <center>
                    <form action="previous">
                        <button type="submit">View Previous Quotes</button>
                    </form>
                </center>
            </div>
        </div>
    </body>
</html>
