<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
{% if user.is_authenticated %}
<body>
    Username is {{user}}
    Email is {{user.email}}
    Name is {{user.name}}
    City is {{user.city}}
    Address1 is {{user.address1}}
    Address2 is {{user.address2}}
    Zipcode is {{user.zipcode}}
    State is {{user.state}}
</body>
{% else %}
<body>
    Login to view details
</body>
{% endif %}

</html>